<!-- 
* @Name             Atvi_issuekav_override
* @author           Abhishek Pal
* @date             08-MAR-2012
* @description      This page is used to display detailed knowledge article information of issue type.
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* Abhishek Pal              08-MAR-2012             Initial draft
* Priyankshu M              19-MAR-2012             Optimized the HTML  
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    ---------------
*  A. Pal(Deloitte Senior Consultant)               22-MAR-2012                     Final Inspection before go-live
*---------------------------------------------------------------------------------------------------
-->
<apex:page >
<!--<apex:page standardController="Issue__kav" extensions="AtviArticleToCaseController" sidebar="false" showHeader="false" action="{!saveArticleTitle}">
    <apex:stylesheet value="{!URLFOR($Resource.Xi_agency, 'css/reset.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.Xi_agency, 'css/helpers.css')}" />
    <apex:stylesheet value="http://www.activision.com/atvihub/css/activision.css" />
    <apex:stylesheet value="{!URLFOR($Resource.Xi_agency, 'css/atviSupport.css')}" />
<apex:includeScript value="{!URLFOR($Resource.Xi_agency, 'jQuery_UI/js/jquery-1.7.1.min.js')}" />
    
    <apex:composition template="Atvi_template_3">
        <apex:define name="KBHtml">   
            <knowledge:articleRendererToolBar articleId="{!$CurrentPage.parameters.id}"/>
               
            <div class="graybgDefault">
                <div class="imageTopic">
                   
                    
                        <h1><apex:outPutLabel value="{!Issue__kav.Title}"/></h1>
                        <apex:form >                       
                           <apex:outputField id="Summary" value="{!Issue__kav.Summary}"/> <br/>
                           <apex:outputField id="Answer" value="{!Issue__kav.Answer__c}"/>                        
                        </apex:form>
                 </div>
            </div>
        </apex:define>
    </apex:composition>
    
</apex:page>-->
</apex:page>