<apex:page standardStylesheets="false" showheader="false" sidebar="false" cache="false">
<head>
    <title>Site Unavailable</title>
    <style type="text/css">
        /* Global Reset */
        html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
        :focus {outline:0;}
        body {line-height:1.5;}
        ol li, ul li {list-style: none;}
        table {border-collapse:separate;border-spacing:0;}
        caption,th,td {text-align:left;font-weight:normal;}
        blockquote:before,blockquote:after,q:before,q:after {content:"";}
        blockquote,q {quotes:"" "";}
        /* Clearfix */
        .clearfix:after {content:".";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
        .clearfix {display:inline-block;}
        html[xmlns] .clearfix {display: block;}
        * html .clearfix {height: 1%;}
        
        /* Globals */
        html, body {width: 100%;}
        #content {position: absolute; left: 50%; top: 50%; width: 400px; height: 160px; padding: 10px; margin: -80px 0 0 -200px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
        #content h1 {font: 24px/24px Arial, Helvetica, sans-serif;}
        #content p {margin: 15px 0 0 0; font: 14px/20px Arial, Helvetica, sans-serif;}
        #content a {font-weight: bold; color: #2abcff;}
    </style>
</head>
    <body>
        <div id="content">
            <h1>Site Unavailable</h1>
            <p>The Activision Support site is currently unavailable due to scheduled maintenance. Please check back in later.</p>
            <p>Take a look at the <a href="http://www.activision.com">Activision site</a> for more options.</p>
        </div>
    </body>
</apex:page>