<apex:page docType="html-5.0"
    controller="ATVICustomerPortalController"  
    language="{!userLanguage}" 
    standardStylesheets="false" 
    showheader="false" 
    sidebar="false" 
    cache="false" >
    <apex:include pageName="Atvi_supporthome_unauthenticated" />
</apex:page>