<apex:page controller="Atvi_NewsflashController" >
   <!------------Page block that displays the list of newsflash for the day ------------------- -->
   <apex:pageBlock title="Newsflash" id="Pb1">       
       <apex:pageBlockTable value="{!todaysNewsflashList}" var="newflash">
           <apex:column headerValue="Subject">
               <apex:outputLink onclick="openLink('{!newflash.id}');return false">{!newflash.Subject__c}</apex:outputLink>
           </apex:column>
       </apex:pageBlockTable> 
   </apex:pageBlock>
     <!------------ Action function to rerender the pageblock when ever a the app console component is clicked--------------------->
   <apex:form >
       <apex:actionFunction action="{!reQuery}" name="ReloadPageBlock" reRender="Pb1"/>
   </apex:form>
   
   <apex:includeScript value="/support/console/30.0/integration.js"/>
   <script type="text/javascript">
      //------------- Variables-------------------------
      var oldNewsflashIds=''; //-- stores the newsflashes already shown in the session
      var setTim;//-- to clear the timer used for blinking
      var chgClr =0;//-- to verify the color for blinking
      var blinking =0;// to check if already blinking 
      var vUrl;// to open the news flash in a new tab
      var clearoldNewsflashIds=1;
      var vMultiMntrOpen=false;//to prevent the the blinking if the multimonitor is open
      //--------------------------------------------------
      function openLink(vUrl){
            //Open a new primary tab with the salesforce.com home page in it
            window.open('/'+vUrl+'?fromPopUp=1','MsgWindow', 'width=1000, height=1000,resizable,scrollbars');
           // sforce.console.openPrimaryTab(null, '/'+vUrl, true,'Newsflash', openSuccess, 'salesforceTab');
      }
      var openSuccess = function openSuccess(result) {
            //Report whether opening the new tab was successful
            if (result.success == true) {
                //alert('Primary tab successfully opened');
            } else {
                //alert('Primary tab cannot be opened');
            }
        };
      //---------------------For the button blinking-----------------------------
      function BlinkCustomConsoleComponentButtonText() {
           if(chgClr ==0){
               sforce.console.setCustomConsoleComponentButtonStyle('background:red;');
               chgClr =1;
           }
           else{
                sforce.console.setCustomConsoleComponentButtonStyle('background:rgb(228,243,247);');
               chgClr =0;
           }
           setTim = setTimeout("BlinkCustomConsoleComponentButtonText()", 2000);  
      }      
      //-------------------------jsremote- to get the current minutes alerts-------------------------------    
      function getNewsflash() {
      
          if(clearoldNewsflashIds>3){
              oldNewsflashIds='';
              clearoldNewsflashIds=1;
          }
              //alert(clearoldNewsflashIds);
          Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.Atvi_NewsflashController.SearchAlerts}',null, 
              handleResult
          );
          clearoldNewsflashIds=clearoldNewsflashIds + 1;
          setTimeout("getNewsflash()", 30000);
      }
      function handleResult(result, event) { 
          var flg=0;
          var v = result.split(',');
          if(v.length>1)
          for(var i =0;i<v.length;i++ ){
              if(oldNewsflashIds.indexOf(v[i]) == -1 && v[i]!=null ){
                  oldNewsflashIds=oldNewsflashIds+v[i]+',';
                  //alert(v[i]);
                  Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.Atvi_NewsflashController.NewsFlashDelivered}',v[i],nfDelivered);
                  flg=1;
                  console.log("oldNewsflashIds " + oldNewsflashIds);
              }
          }
          if(flg==1 && blinking ==0 && vMultiMntrOpen==false){
              BlinkCustomConsoleComponentButtonText();
              blinking =1;
          }
      }
      
      function nfDelivered(){
      //alert('done');
      }
      //------------------------ trigger the reccuring event----------------------------------------
      getNewsflash();
      //------------------------ Check multimonitor open -------------------------------------------
        function checkResult(result) {
          if (result.success) {
            //alert('Is this component popped out: ' + result.poppedOut);
            vMultiMntrOpen=result.poppedOut;
            
          } else {
            //alert('Error invoking this method. Check the browser developer console for more information.');
          }
        }
        function checkPoppedOut() {
          sforce.console.isCustomConsoleComponentPoppedOut(checkResult);
        }
        checkPoppedOut();
      //--------------------- to control the onclick event of application console component---------
      var eventHandler = function (result) {
               ReloadPageBlock();
               clearTimeout(setTim );
               sforce.console.setCustomConsoleComponentButtonStyle('background:rgb(228,243,247);');
               blinking =0;
      };
      sforce.console.onCustomConsoleComponentButtonClicked(eventHandler);
      //----------------------------------------------------------------
   </script>
</apex:page>