<apex:page cache="false"
    sidebar="false" 
    docType="html-5.0"
    showheader="false" 
    action="{!createCaseAF}"
    standardStylesheets="false"
    standardController="Contact" 
    extensions="Contact_Us_2014_User_Issue_Channel"
    >
<head>
<!--Chat launched, choose another issue to chat again.-->
<!-- CHAT -->
<script type="text/javascript">
    function setCookie(c_name,value,exdays){
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
        document.cookie=c_name + "=" + c_value + ";path=/apex";
    }
    var caseId = '';
    function atviStart(){
        if('{!caseId}' != '') {
            caseId = '{!caseId}';
            var btnid = '573U0000000GmaY';
            if('{!chatButtonId}' != ''){
                btnid = '{!chatButtonId}';
            }
            setCookie('ChatEnabled',true);
            atviStartChatWithWindow(btnid);
        }
    }
</script>
<!-- END CHAT -->
</head><body></body>
</apex:page>