<apex:page docType="html-5.0" 
    standardStylesheets="false"
    controller="Contact_Us_2014"
    extensions="Contact_Us_2014_User_Issue_Channel"
    language="{!userLanguage}"

    cache="false"
    sidebar="false" 
    showHeader="false" 
    showChat="false"
    applyBodyTag="false"
    applyHtmlTag="false"
    id="thePage"
    >
    <apex:composition template="Contact_Us_2014">
        <apex:define name="endOfJS">
            <script>var caseId = '';</script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <script>
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.Contact_Us_2014_User_Issue_Channel.customerSegmentation}', handleResult,{escape: true});
            function handleResult(result, event){
            var v =result;
            //alert(v);
            if(v==true)
                fntoggle();
            }
            </script>
        </apex:define>
        <apex:define name="body">
            <apex:variable var="pLang" value="{!IF(IsNull($CurrentPage.parameters.ulang), 'en_US', $CurrentPage.parameters.ulang)}" />
            <div data-role="page" id="auth-contactus-step4">
                <div class="container">
                 <apex:outputPanel rendered="{!OR(IsNull($CurrentPage.parameters.gc), IsBlank($CurrentPage.parameters.gc))}">
                    <div class="row step-arrows">
                        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 step-1">
                            <div class="step visited">
                                <strong>1</strong>
                                <span><a data-transition="slide" data-direction="reverse" onclick="cmsrEvent('Contact Us Form', 'Navigation', 'go-back-to-platform');" href="{!$Page.Contact_Us}?p=1" class="ui-link">{!selectedPlatform.Name__c}</a></span>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 step-2">
                            <div class="step visited">
                                <strong>2</strong>
                                <span><a data-transition="slide" data-direction="reverse" href="{!$Page.Contact_Us}?p=2&w2cp={!selectedPlatform.Id}" class="ui-link">{!selectedGameTitle.Title__c}</a></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 step-3">
                            <div class="step active">
                                <strong>3</strong>
                                <span><a data-transition="slide" data-direction="reverse" href="{!$Page.Contact_Us}?p=3&w2cg={!selectedGameTitle.Id}" class="ui-link">{!selectedSubType.Description__c}</a></span>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!OR($CurrentPage.parameters.gc != NULL, $CurrentPage.parameters.gc != '')}">
                    <div class="row step-arrows">
                        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 step-1">
                            <div class="step visited">
                                <strong>1</strong>
                                <span><a data-transition="slide" data-direction="reverse" onclick="cmsrEvent('Contact Us Form', 'Navigation', 'go-back-to-platform');" href="{!$Page.Contact_Us}?p=1&gc={!gc}&uil={!userLanguage}" class="ui-link">{!selectedPlatform.Name__c}</a></span>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 step-2">
                            <div class="step visited">
                                <strong>2</strong>
                                <span>{!selectedGameTitle.Title__c}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 step-3">
                            <div class="step active">
                                <strong>3</strong>
                                <span><a data-transition="slide" data-direction="reverse" href="{!$Page.Contact_Us}?p=3&w2cg={!selectedGameTitle.Id}&gc={!gc}&uil={!userLanguage}" class="ui-link">{!selectedSubType.Description__c}</a></span>
                            </div>
                        </div>
                    </div>
                            
                </apex:outputPanel>
                
                <!--<button type="button" class="btn btn-info"  onclick="fntoggle();" >Simple collapsible</button>-->

                     <div class="container">
     
      <div id="demo" class="collapse">
       <div class="jumbotron">
       <a href="#" data-toggle="collapse" class="pull-right" data-target="#demo">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <br/>
         <p>
           {!$Label.You_belong_to_an_Elite_Group_and_have_some_extra_privileges}
        </p>
        </div>
      </div>
    </div>
             
                
                
                    <!--<apex:outputPanel layout="none" rendered="{!isLoggedIn}">-->
                        <div class="row stage-header">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1>{!$Label.CU2_Based_on_your_selections_we_suggest_the_following_options}</h1>
                            </div>
                        </div>
                    <!--</apex:outputPanel>-->
                <!--     REMOVED FOR CONTACT US PHASE 3 UPDATE
                    <div class="row options"> 
                        <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                            <a href="#"><img class="game-logo" src="{!URLFOR($Resource.CU_5x5, '/assets/images/'+selectedPlatform.Image__c+'.png')}" alt="{!selectedPlatform.Name__c} logo" /></a>
                        </div>
                        <div class="hidden-xs col-sm-8 col-md-8 col-lg-8">
                            <a href="#">{!selectedGameTitle.Title__c}</a>
                            <p>{!selectedIssueType.Description__c} ({!selectedSubType.Description__c})</p>
                        </div>
                    </div> -->

                    <apex:outputPanel rendered="{!NOT(IsNull(kbArticle))}" layout="none">
                        <div id="recommendations">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>
                                    {!$Label.CU2_Here_s_an_article_that_should_help}</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 text-center-xs text-center-lg">
                                    <!--<strong>{!theArticleHelpCount}</strong><p>{!$Label.CU2_helped}</p>-->
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11"><span class="title">
                                    <a data-ajax="false" href="/articles/{!kbArticle.Language}/FAQ/{!kbArticle.URLName}" target="_blank" onclick="cmsrEvent('Contact Us Article Clickthrough','featured_article','{!JSENCODE(kbArticle.title)}');">
                                        {!kbArticle.title}
                                    </a></span>
                                    <p class="text">{!kbArticle.summary}</p>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>

                    <div class="row contact-help">
                        <div class="col-sm-12 col-md-12 text-left">
                        </div>
                    </div>
                <!-- Contact Options -->
                    <div id="contact-channels">
                        <div class="you-can-reach-us-by">
                            <div data-role="collapsibleset" data-theme="a" data-content-theme="a" data-icon="arrow-d" data-iconpos="right">
                <!--            <apex:outputPanel rendered="{!IsPhoneOpen}" >
                             Phones are open!
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(IsPhoneOpen)}" >
                             Phones are closed!
                            </apex:outputPanel>  -->
                                <apex:repeat value="{!ContactOptionsOrder}" var="option">
                                <!-- Chat Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option = 'chat'}">
                                        <apex:outputPanel layout="none" rendered="{!AND(allowChat, chatWindowOpen, isLoggedIn)}">
                                            <div data-target="#modal-chat" class="channelheading" id="collapsible-official-support-chat" data-role="collapsible">
                                                <h3 data-target="#modal-chat">
                                                    <a data-target="#modal-chat" href="#" >
                                                        <img class="game-logo" alt="Chat On" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Chat_On.png')}" />
                                                    </a><div data-target="#modal-chat">
                                                        <strong data-target="#modal-chat">{!$Label.CU2_Official_Support_Chat}</strong><br />
                                                        <span data-target="#modal-chat">{!web2case.chatEnabledMessage__c}</span>
                                                    </div>
                                                </h3>
                                                <div class="col-lg-offset-1">
                                                    <div id="modal-chat" class="in-accordion-heading">
                                                        <button id="launchChatButton" class="btn btn-primary btn-lg">
                                                            {!$Label.CU2_Launch_Chat}
                                                        </button>
                                                        <div id="launchChatLoad" style="display:none;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!AND(allowChat, chatWindowOpen, NOT(isLoggedIn))}">
                                            <div class="channelheading" id="collapsible-official-support-chat" data-role="none">
                                                <h3>
                                                    <img class="game-logo" alt="Chat On" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Chat_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU3_Login_for_Chat}</strong><br />  
                                                        <span>{!web2case.chatEnabledMessage__c}</span>                                                                               
                                                    </div>
                                                </h3>
                                                <div class="col-lg-offset-1">
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!AND(allowChat, NOT(chatWindowOpen), NOT(isLoggedIn))}">
                                            <div class="channelheading" id="collapsible-official-support-chat" data-role="none">
                                                <h3>
                                                    <img class="game-logo" alt="Chat On" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Chat_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU3_Login_for_Chat}</strong><br /> 
                                                        <span>{!web2case.chatOfflineMessage__c}</span>                                                       
                                                    </div>
                                                </h3>
                                                <div class="col-lg-offset-1">
                                                </div>
                                            </div>
                                        </apex:outputPanel>                                        
                                        <apex:outputPanel layout="none" rendered="{!AND(allowChat, NOT(chatWindowOpen), isLoggedIn)}">
                                            <div class="channelheading" id="collapsible-official-support-chat" data-role="none">
                                                <h3>
                                                    <img class="game-logo" alt="Chat On" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Chat_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU2_Official_Support_Chat}</strong><br />
                                                        <span>{!web2case.chatOfflineMessage__c}</span>
                                                    </div>
                                                </h3>
                                                <div class="col-lg-offset-1">
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Schedule a Call Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option = 'scheduleacall'}">
                                        <apex:outputPanel layout="none" rendered="{!AND(allowScheduleACall, isLoggedIn)}">
                                            <div class="channelheading" id="collapsible-schedule-a-call" data-role="collapsible" onclick="cmsrEvent('Resolution Options - Schedule Call','contact_resolve_schedule_call','{!URLENCODE(Web2CaseSubType.Description__c)}');">
                                                <h3>
                                                    <a href="#">
                                                        <img class="game-logo" alt="Schedule a Call" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Phone_On.png')}" />
                                                    </a>
                                                    <div><strong>{!$Label.CU2_Schedule_a_call}</strong><br /><span>{!$Label.CU2_Pick_a_convenient_time_for_us_to_call_you}</span>
                                                    </div>
                                                </h3>
                                                <div id="schedule-a-call-content"></div>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!AND(allowScheduleACall, NOT(isLoggedIn))}">
                                            <div class="channelheading" id="collapsible-schedule-a-call" data-role="none" >
                                                <h3>
                                                    <a href="#">
                                                        <img class="game-logo" alt="Schedule a Call" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Phone_Off.png')}" />
                                                    </a>
                                                    <div><strong>{!$Label.CU3_Login_to_Schedule_a_Call}</strong><br /><span>{!$Label.CU2_Pick_a_convenient_time_for_us_to_call_you}</span>
                                                    </div>
                                                </h3>                                                
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Twitter Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option = 'twitter'}">
                                        <apex:outputPanel layout="none" rendered="{!OR(allowPhoneCall, allowChat) && NOT(chatWindowOpen) && NOT(IsPhoneOpen)}">
                                            <div class="channelheading" id="link-twitter">
                                                <h3>
                                                    <img class="game-logo" alt="Twitter" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Twitter.png')}" />
                                                    <div><strong>{!$Label.CU2_Twitter}</strong><br /><span>{!$Label.CU2_Got_a_quick_question_Tweet_us}</span></div>
                                                </h3>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Ambassador Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option = 'ambassadorchat'}">
                                        <apex:outputPanel layout="none" rendered="{!allowAmbassadorChat}">
                                            <div class="channelheading" id="collapsible-ambassador-chat" data-role="none">
                                                <h3>
                                                <iframe height="60px;" width="100%" frameborder="0" scrolling="no" allowtransparency="yes" src="https://{!IF($Organization.Id = '00DU0000000HMgwMAG', 'ambassador.secure.force','ambuat-ambassador.cs15.force')}.com/AMB_Contact?w2cp={!selectedPlatform.Name__c}&game={!selectedGameTitle.Title__c}&lang={!kbArticle.Language}&kbtitle={!kbArticle.title}&kburlname={!kbArticle.URLName}&subtype={!selectedSubType.Description__c}&isstype={!selectedIssueType.Description__c}"></iframe>
                                                </h3>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Phone Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option == 'phone'}">
                                        <apex:outputPanel layout="none" rendered="{!AND(allowPhoneCall, isLoggedIn, IsPhoneOpen)}">
                                            <div class="channelheading" id="collapsible-call" data-role="collapsible" onclick="cmsrEvent('Resolution Options - Phone','contact_resolve_phone','{!URLENCODE(Web2CaseSubType.Description__c)}');">
                                                <h3>                                                   
                                                    <img class="game-logo" alt="Phone" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Phone_On.png')}" />                            
                                                    <div>
                                                        <strong>{!$Label.CU2_Give_us_a_call}</strong>
                                                        <br />
                                                        <span>
                                                            <p>{!web2case.Phone_Hours__c}<br />{!web2case.Phone_Hours2__c}</p>
                                                            <p>
                                                                <apex:outputPanel layout="none" rendered="{!AND(web2case.phoneAlertEnabled__c, IsPhoneOpen)}">
                                                                    {!web2case.phoneAlertMessage__c}
                                                                </apex:outputPanel>
                                                                <apex:outputPanel layout="none" rendered="{!NOT(IsPhoneOpen)}">
                                                                    {!web2case.phoneClosedMessage__c}
                                                                </apex:outputPanel>
                                                            </p>
                                                        </span>
                                                    </div>
                                                </h3>

                                                <div id="phone-content" class="giveusacall col-lg-offset-1">
                                                    <apex:outputText escape="false" value="{!phoneMessaging}" />
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!AND(allowPhoneCall, isLoggedIn, NOT(IsPhoneOpen))}">
                                            <div class="channelheading" id="collapsible-call" data-role="none">
                                                <h3>
                                                    <img class="game-logo" alt="Phone" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Phone_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU2_Give_us_a_call}</strong>
                                                        <br />
                                                        <span>
                                                            <p>{!web2case.Phone_Hours__c}<br />{!web2case.Phone_Hours2__c}</p>
                                                            <p>                                                      
                                                               {!web2case.phoneClosedMessage__c}                                                                
                                                            </p>                                                            
                                                        </span> 
                                                    </div>                                                  
                                                </h3>                                                
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!AND(allowPhoneCall, NOT(isLoggedIn))}">
                                            <div class="channelheading" id="collapsible-call" data-role="none">
                                                <h3>
                                                    <img class="game-logo" alt="Phone" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Phone_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU3_Login_to_Call}</strong>
                                                        <br />
                                                        <span>
                                                            <p>{!web2case.Phone_Hours__c}<br />{!web2case.Phone_Hours2__c}</p>
                                                            <p>                                                      
                                                                <apex:outputPanel layout="none" rendered="{!AND(web2case.phoneAlertEnabled__c, IsPhoneOpen)}">
                                                                    {!web2case.phoneAlertMessage__c}
                                                                </apex:outputPanel>
                                                                <apex:outputPanel layout="none" rendered="{!NOT(IsPhoneOpen)}">
                                                                    {!web2case.phoneClosedMessage__c}
                                                                </apex:outputPanel>
                                                            </p>                                                            
                                                        </span> 
                                                    </div>                                                  
                                                </h3>                                                
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Form Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option == 'form'}">
                                        <apex:outputPanel layout="none" rendered="{!OR(allowForm,NOT(isBlank(web2casesubtype.customForm__c))) && isLoggedIn}">
                                             <div class="channelheading" id="collapsible-submit-form" data-role="collapsible" atvi-iframe="true">
                                                <h3>
                                                    <img class="game-logo" alt="Form" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Form.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU2_Submit_a_form}</strong><br /><span>{!$Label.CU2_Tell_us_in_your_own_words}</span>
                                                    </div>
                                                </h3>
                                                <div id="form-content" class="col-lg-offset-1">
                                                    <!--<iframe width="100%" frameborder="0" scrolling="no" 
                                                        src="ContactUs_Partial_Form?w2cId={!Web2Case.Id}&w2cf={!formId}&w2cs={!Web2CaseSubType.Id}">
                                                    </iframe>-->
                                                    <iframe width="100%" frameborder="0" scrolling="no" 
                                                        src="{!IF(isBlank(Web2CaseSubType.customform__c),'ContactUs_Partial_Form?w2cId='+Web2Case.Id+'&w2cf='+formId+'&w2cs='+Web2CaseSubType.Id,'awlootsupport')}">
                                                    </iframe>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!OR(allowForm,NOT(isBlank(web2casesubtype.customForm__c))) && NOT(isLoggedIn)}">
                                             <div class="channelheading" id="collapsible-submit-form" data-role="none" >
                                                <h3>
                                                    <img class="game-logo" alt="Form" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Form_Off.png')}" />
                                                    <div>
                                                        <strong>{!$Label.CU3_Login_for_Form}</strong><br /><span>{!$Label.CU2_Tell_us_in_your_own_words}</span>
                                                    </div>
                                                </h3>                                                
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Forum Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option == 'forum'}">
                                        <apex:outputPanel layout="none" rendered="{!allowForums}">
                                            <div class="channelheading" id="link-forums">
                                                <h3>
                                                    <img class="game-logo" alt="Forums" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Forum.png')}" />
                                                    <div><strong>{!$Label.CU2_Forums}</strong><br /><span>{!$Label.CU2_Tap_into_our_online_community}</span></div>
                                                </h3>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                <!-- Facebook Panel -->
                                    <apex:outputPanel layout="none" rendered="{!option == 'facebook'}">
                                        <apex:outputPanel layout="none" rendered="{!allowFacebook}">
                                            <div class="channelheading" id="link-facebook">
                                                <h3>
                                                    <img class="game-logo" alt="Chat On" src="{!URLFOR($Resource.CU_5x5, '/assets/icons/options/Facebook.png')}" />
                                                    <div><strong>{!$Label.CU2_Facebook}</strong><br /><span>{!$Label.CU2_Facebook}</span></div>
                                                </h3>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:repeat>
                                <a data-url="" data-lang="en" id="twitterTweetLink" target="_blank"
                                    hashtags="{!twitterHashTag}" 
                                    onclick="cmsrEvent('Resolution Options - Twitter','contact_resolve_twitter','{!URLENCODE(Web2CaseSubType.Description__c)}');"
                                    href="https://twitter.com/share?url=&text={!URLENCODE('@AtviAssist I')+'%27'+URLENCODE('m having a problem with...'+IF(NOT(IsBlank(twitterHashTag)), ' #'+twitterHashTag, ''))}"></a>            
                                <script>
                                    var chatLaunched = false;
                                    jQuery(document).ready(function ($) {
                                        //prep inbound call
                                        if(!{!skipPhoneForm}){
                                            jQuery("#phone-content").load("ContactUs_Partial_Phone?p={!URLENCODE(Web2CasePlatform.Name__c)}&g={!URLENCODE(Web2CaseGameTitle.Title__c)}&pid={!URLENCODE(Web2CaseGameTitle.Public_Product__c)}&i={!URLENCODE(Web2CaseType.Description__c)}&i2={!URLENCODE(Web2CaseType.TypeMap__c)}&s={!URLENCODE(Web2CaseSubType.Description__c)}&s2={!URLENCODE(Web2CaseSubType.subTypeMap__c)}&ulang={!userLanguage}");
                                        }
                                        
                                        //prep schedule call
                                        jQuery("#schedule-a-call-content").load("ContactUs_Partial_Timezone_Picker?id={!$User.Id}&w2cs={!Web2CaseSubType.id}&ulang={!pLang}");
                                        
                                        //handle twitter
                                        jQuery('body').delegate('#link-twitter', 'click', function (ev){
                                            document.getElementById('twitterTweetLink').click();
                                        });

                                        //handle forums
                                        jQuery('body').delegate('#link-forums', 'click', function (ev){
                                            cmsrEvent('Resolution Options - Forum','contact_resolve_forum','{!URLENCODE(Web2CaseSubType.Description__c)}');
                                            window.open('{!forumURL}');
                                        });

                                        //handle facebook
                                        jQuery('body').delegate('#link-facebook', 'click', function (ev){
                                            cmsrEvent('Resolution Options - Facebook','contact_resolve_facebook','{!URLENCODE(Web2CaseSubType.Description__c)}');
                                            window.open('https://www.facebook.com/ActivisionAssist');
                                        });

                                        //handle chat
                                        jQuery('body').delegate('[data-target=#modal-chat]', 'click', function (ev) {
                                            ev.preventDefault();
                                            if(chatLaunched == false){
                                                var target = 'ContactUs_Chat_Modal?id={!gamer.Id}&w2cs={!$CurrentPage.parameters.w2cs}';
                                                jQuery('#launchChatLoad').load(target, function () {
                                                    atviStart();
                                                    cmsrEvent('Resolution Options - Launch Chat','contact_resolve_launch_chat','{!URLENCODE(Web2CaseSubType.Description__c)}');
                                                    //chatLaunched = true;
                                                });
                                            }
                                        });
                                    });
                                    function ambClick(){
                                        if(ambOnline == true){
                                            cmsrEvent('Resolution Options - Ambassador Chat','contact_resolve_ambassador_chat','{!URLENCODE(Web2CaseSubType.Description__c)}');
                                        }
                                    } 
                                </script>
                            </div>
                        </div>
                    </div>
                <apex:outputPanel rendered="{!OR(IsNull($CurrentPage.parameters.gc), IsBlank($CurrentPage.parameters.gc))}">
                    <div class="row more-help">
                        <div class="col-sm-12 col-md-12 text-center"><h2>{!$Label.CU2_Still_can_t_find_what_you_re_looking_for}</h2>
                            <div class="row">
                                <div class="col-xs-12 col-md-{!IF(isLoggedIn, '6','4')} text-center">
                                    <form role="form" action="{!$Page.Contact_Us}" method="GET" data-transition="slide" data-direction="reverse">
                                        <input type="hidden" name="p" value="3" />
                                        <input type="hidden" name="w2cg" value="{!selectedGameTitle.Id}"/>
                                        <button onclick="cmsrEvent('Contact Us Form','Navigation','go-back-to-issue');" type="submit" class="btn btn-lg" data-role="none">{!$Label.CU2_Select_Another_Issue}</button>
                                    </form>
                                </div>
                                <apex:outputPanel layout="none" rendered="{!NOT(isLoggedIn)}">
                                    <div class="col-xs-12 col-md-4 text-center">
                                        <button id="login" onclick="cmsrEvent('Contact Us Form','Navigation','login');window.location.replace(SAML.buildURL());" type="button" class="btn btn-primary btn-lg" data-role="none">
                                            {!$Label.CU2_Log_in_for_personalized_support}
                                        </button>
                                    </div>
                                </apex:outputPanel>
                                <div class="col-xs-12 col-md-{!IF(isLoggedIn, '6','4')} text-center">
                                    <form role="form" action="{!$Page.Contact_Us}" method="GET">
                                        <input type="hidden" name="p" value="1" id="p" />
                                        <button onclick="cmsrEvent('Contact Us Form','Navigation','back-to-platform');" type="submit" class="btn btn-lg" data-role="none">{!$Label.CU2_Start_Over}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!OR($CurrentPage.parameters.gc != NULL, $CurrentPage.parameters.gc != '')}">
                    <div class="row more-help">
                        <div class="col-sm-12 col-md-12 text-center"><h2>{!$Label.CU2_Still_can_t_find_what_you_re_looking_for}</h2>
                            <div class="row">
                                <div class="col-xs-12 col-md-{!IF(isLoggedIn, '6','4')} text-center">
                                    <form role="form" action="{!$Page.Contact_Us}" method="GET" data-transition="slide" data-direction="reverse">
                                        <input type="hidden" name="p" value="3" />
                                        <input type="hidden" name="w2cg" value="{!selectedGameTitle.Id}"/>
                                        <input type="hidden" name="gc" value="{!gc}"/>
                                        <input type="hidden" name="uil" value="{!userLanguage}"/>
                                        <button onclick="cmsrEvent('Contact Us Form','Navigation','go-back-to-issue');" type="submit" class="btn btn-lg" data-role="none">{!$Label.CU2_Select_Another_Issue}</button>
                                    </form>
                                </div>
                                <apex:outputPanel layout="none" rendered="{!NOT(isLoggedIn)}">
                                    <div class="col-xs-12 col-md-4 text-center">
                                        <button id="login" onclick="cmsrEvent('Contact Us Form','Navigation','login');window.location.replace(SAML.buildURL());" type="button" class="btn btn-primary btn-lg" data-role="none">
                                            {!$Label.CU2_Log_in_for_personalized_support}
                                        </button>
                                    </div>
                                </apex:outputPanel>
                                <div class="col-xs-12 col-md-{!IF(isLoggedIn, '6','4')} text-center">
                                    <form role="form" action="{!$Page.Contact_Us}" method="GET">
                                        <input type="hidden" name="p" value="1" id="p" />
                                        <input type="hidden" name="gc" value="{!gc}" id="gc" />
                                        <input type="hidden" name="uil" value="{!userLanguage}" id="uil" />
                                        <button onclick="cmsrEvent('Contact Us Form','Navigation','back-to-platform');" type="submit" class="btn btn-lg" data-role="none">{!$Label.CU2_Start_Over}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                
                    <script>
                        // We are now wrapping out scripts from the page as they get loaded twice.
                        // However this means that this may need to be run at the bottom as well on page refresh.
                        // The initialisation global has been set so we have atvi class and jquery.
                        if (typeof window.jQuery != 'undefined') {
                            jQuery(document).ready(function ($) {
                                // Still mobile behaviours. Desktop layout.
                                if (atvi.showDesktop()) {
                                    atvi.step4Desktop();
                                } else {
                                    // Redirect mobile schedule a call to the mobile pages.
                                    atvi.step4MobileBehaviors();
                                }
                            });
                            if (typeof atvi != 'undefined') {
                                jQuery(document).on("mobileLoadedResize", function (e) {
                                    atvi.step4MobileBehaviors(this);
                                });
                                jQuery(document).on("mobileUnloadedResize", function (e) {
                                    atvi.step4UnMobileBehaviours(this);
                                });
                            }
                        }
                    </script>
                </div>
            </div>
        </apex:define>
        <apex:define name="endOfBody">
            <script>
                var j = jQuery.noConflict();
                
                function fntoggle(){
                j('#demo').collapse('toggle');
                }
            </script>
            <script>
                // Loads mobile - so donot wrap in mobile, wrap in document ready.
                // Not initialised in refresh or desktop version to handle resize.
                var atvi = new AtviMob();
                atvi.init();

                // Can not use throttledresize - not mobile.
                jQuery(window).resize(function () {
                    atvi.handleResize();
                });

                // Not mobile
                jQuery(document).ready(function ($) {
                    if (atvi.showDesktop()) {
                        atvi.step4Desktop();
                    } else {
                        // Only called on page refresh and only for mobile.
                        atvi.step4MobileBehaviors(this);
                    }
                });

                jQuery(document).on("mobileLoadedResize", function (e) {
                    atvi.step4MobileBehaviors(this);
                });
                jQuery(document).on("mobileUnloadedResize", function (e) {
                    atvi.step4UnMobileBehaviours(this);
                });
            </script>
            <div id="liveagent_button_online_{!chatButtonId}" style="display:none;"></div>
            <div id="liveagent_button_offline_{!chatButtonId}" style="display:none;"></div>
            <script type="text/javascript">
                if (!window._laq) { window._laq = []; }
                window._laq.push(function(){
                    liveagent.showWhenOnline('{!chatButtonId}', document.getElementById('liveagent_button_online_{!chatButtonId}'));
                    liveagent.showWhenOffline('{!chatButtonId}', document.getElementById('liveagent_button_offline_{!chatButtonId}'));
                });
            </script>
  <!--        <script type='text/javascript' src='https://c.la8{!IF(CONTAINS($Organization.Id, "00DU0000000HMgw"), "", "cs")}.salesforceliveagent.com/content/g/js/31.0/deployment.js'></script>-->
            <script type='text/javascript' src='https://c.la3-c1cs-was.salesforceliveagent.com/content/g/js/32.0/deployment.js'></script>
            <script type="text/javascript">
                liveagent.addCustomDetail('Gamer Name', '{!theGamer.Name}').map('Contact', 'Name', true, false, false);
                liveagent.addCustomDetail('Gamer Id', '{!theGamer.Id}').map('Contact', 'Id', true, true, true);
                liveagent.addCustomDetail('Gamer E-mail', '{!theGamer.Email}').map('Contact', 'Email', true, false, false);
                liveagent.setName('{!theGamer.Name}');
                
                
                //liveagent.init('https://d.la{!IF(CONTAINS($Organization.Id, '00DU0000000HMgw'), '1w1', '-c1cs-was')}.salesforceliveagent.com/chat','572U0000000Gma9', '{!LEFT($Organization.Id, 15)}');
                
                
                
                liveagent.init('https://d.la3-c1cs-was.salesforceliveagent.com/chat', '572U0000000Gma9', '00Dq0000000A6hm');

                
                
                function atviStartChatWithWindow(a){
                    if(navigator.userAgent.toLowerCase().indexOf("mobi")>-1){
                        liveagent.startChatWithWindow(a,'_parent');
                    }else{
                        var myWidth = 0, myHeight = 0;
                        if( typeof( window.innerWidth ) == 'number' ) {
                            //Non-IE
                            myWidth = window.innerWidth;
                            myHeight = window.innerHeight;
                        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
                            //IE 6+ in 'standards compliant mode'
                            myWidth = document.documentElement.clientWidth;
                            myHeight = document.documentElement.clientHeight;
                        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                            //IE 4 compatible
                            myWidth = document.body.clientWidth;
                            myHeight = document.body.clientHeight;
                        }
        
                        var w = 775;
                        var h = 439;
                        var left = (myWidth  / 2) - (w / 2);
                        var top = (myHeight  / 2) - (h / 2);
                        window.open('', 'chatWindow', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no,resizeable=yes,  copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                        liveagent.startChatWithWindow(a, 'chatWindow');
                    }
                }
            </script>
        </apex:define>
    </apex:composition>
</apex:page>