<apex:page standardcontroller="Newsflash__c" extensions="CreateNewsFlashController" id="thePage" applyBodyTag="false">
    
    <apex:form id="theForm">    
     <b Style ="color: red"><apex:messages styleClass="font-color:red" /> </b>
        <apex:inputHidden value="{!Newsflash__c.createddate}" /> 
        <apex:inputHidden value="{!Newsflash__c.Platform__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Product_L1__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Product_L2__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Issue_Type__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Issue_Sub_Type__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Sub_Product_DLC__c}" />
        <apex:inputHidden value="{!Newsflash__c.L3__c}" /> 
        <apex:inputHidden value="{!Newsflash__c.Subject__c}" />
        <apex:inputHidden value="{!Newsflash__c.Requested_Date_Time__c }" />
        <apex:inputHidden value="{!Newsflash__c.who_does_it_impact__c }" />
         <apex:inputHidden value="{!Newsflash__c.What_s_it_all_about_What_s_new__c }" />
         <apex:inputHidden value="{!Newsflash__c.Additional_resources__c }" />
         <apex:inputHidden value="{!Newsflash__c.How_long_will_it_affect_Customers_Agents__c }" />
         <apex:inputHidden value="{!Newsflash__c.What_do_I_tell_customers__c }" />
        <apex:inputHidden value="{!Newsflash__c.recordtypeid }" />
        <apex:inputHidden value="{!Newsflash__c.How_does_it_work__c }" />
         <apex:inputHidden value="{!Newsflash__c.when_will_it_be_implimented__c }" />
          <apex:inputHidden value="{!Newsflash__c.Content__c}" />
          <apex:inputHidden value="{!Newsflash__c.KB_article__c}" />
        </apex:form>  
        <apex:form id="theForm2">             
        <apex:actionFunction name="JS_ClearL3Options" action="{!getL3s}" reRender="l3Panel"/>
        <apex:pageBlock id="pb2" mode="edit">

            <apex:pageBlockSection id="pbs1" title="Newsflash Details" columns="2">
                <apex:outputText label="Created Date" value="{!IF(theNewsflash.createddate==null,Now(),'')}" />
                <apex:inputField required="true" value="{!theNewsflash.Requested_Date_Time__c}" />
                <apex:inputField required="true" value="{!theNewsflash.Subject__c}" />
                <apex:inputField value="{!theNewsflash.How_long_will_it_affect_Customers_Agents__c}"  rendered="{!if(theNewsflash.recordtypeid==RecTypeOA,True,False)}" />
                <apex:inputField value="{!theNewsflash.How_does_it_work__c}" rendered="{!if(theNewsflash.recordtypeid==RecTypePN,True,False)}"/>
                <apex:inputField value="{!theNewsflash.When_will_it_be_implimented__c}" rendered="{!if(theNewsflash.recordtypeid==RecTypeSU,True,False)}"/>
                <apex:inputField value="{!theNewsflash.Who_does_it_impact__c}" />
                <apex:inputField value="{!theNewsflash.What_do_I_tell_customers__c}" rendered="{!if(theNewsflash.recordtypeid!=RecTypeSU,True,False)}"/>
                <apex:inputField value="{!theNewsflash.What_s_it_all_about_What_s_new__c}" />
                <apex:inputField value="{!theNewsflash.Additional_resources__c}" />
                <br/>    
                <apex:inputField value="{!theNewsflash.KB_article__c}" rendered="{!if(theNewsflash.recordtypeid!=RecTypeSU,True,False)}"/>
                <apex:outputPanel rendered="{!if(theNewsflash.recordtypeid!=RecTypeSU,True,'</br>')}">
                </apex:outputPanel>  
                <apex:outputField value="{!theNewsflash.recordtypeid}" />
            </apex:pageBlockSection>
            <apex:pageBlockSection id="pbsc" title="Content" columns="1">
            <apex:inputField value="{!theNewsflash.Content__c}" />
            </apex:pageBlockSection>
            <apex:pageBlockSection id="pbs2" title="Dispositioning" columns="1" rendered="{!if(theNewsflash.recordtypeid!=RecTypeSU,True,False)}">  
                <apex:inputfield value="{!theCase.Product_L1__c}" styleClass="product-l1" id="prod1"  />
                <apex:inputfield value="{!theCase.Product_L2__c}" styleClass="product-l2" id="prod2"  />
                <apex:inputField value="{!theCase.Sub_Product_DLC__c}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Platform</apex:outputLabel>
                   <!-- <apex:outputPanel styleClass="requiredInput" layout="block">
                       <!-- <div class="requiredBlock"></div>-->
                        <apex:inputfield value="{!theCase.Platform__c}"/>
                    <!--</apex:outputPanel>-->
                </apex:pageBlockSectionItem>
                <apex:inputfield id="l1"  value="{!theCase.Issue_Type__c}" onchange="JS_ClearL3Options();" />
                <apex:inputField id="l2"  value="{!theCase.Issue_Sub_Type__c}" onchange="JS_ClearL3Options();" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Cause (L3)</apex:outputLabel>
                    <!--<apex:outputPanel styleClass="requiredInput" layout="block">
                        <div class="requiredBlock"></div>-->
                        <apex:selectList value="{!theCase.L3__c}" size="1" id="l3Panel" disabled="{!GrayOut}">
                            <apex:selectOptions value="{!l3Options}" />
                        </apex:selectList>
                  <!--  </apex:outputPanel>-->
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="Both">
                <apex:commandButton value="Save" action="{!Save}" reRender="theForm"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
    </apex:form>
    <apex:relatedList list="ProcessSteps" ></apex:relatedList>
</apex:page>