<apex:page standardController="CRR_Code_Recipient_Group_Membership__c" >
 <apex:form >
  <apex:pageBlock Title="New Code Recipient Group Membership">
   <apex:pageBlockButtons >
    <apex:commandButton action="{!save}" value="Save"/>
    <apex:commandButton action="{!cancel}" value="Cancel"/>
   </apex:pageBlockButtons>
   <apex:pageBlockSection Title="Code Recipient Membership Edit" Columns="1">
    <apex:inputField value="{!CRR_Code_Recipient_Group_Membership__c.Code_Distribution_Recipient_Group__c}"/>
    <apex:inputField label="Group Member" value="{!CRR_Code_Recipient_Group_Membership__c.Code_Distribution_Recipient__c}"/>
   </apex:pageBlockSection>
  </apex:pageBlock>
 </apex:form>
</apex:page>