<apex:page language="{!language}" 
    doctype="html-5.0" 
    extensions="reCAPTCHA_controller" 
    controller="ATVICustomerPortalController"
    standardStylesheets="false" 
    sidebar="false" 
    showChat="false" 
    showHeader="false" 
    id="thePage"
    applyBodyTag="false"
    applyHtmlTag="false"
    >
    <apex:composition template="BungieTemplate_html5">
        <apex:define name="bodyHtml">
            <div id="pageCaptchaDiv">
                The Beta has been eye-opening so far. We've watched the world of Destiny come to life. Guardians from every platform have arrived at the Tower from their battles in the wild. We have watched their adventures with great interest, and listened to their feedback.<br/>
                <br/>
                There is more we can learn. To make this happen, we need more Guardians to play. The Destiny Beta is now open to the public on PlayStation 4, PlayStation 3, Xbox One, and Xbox 360! To begin forging your legend, search for "Destiny" in your console's store.<br/>
                <br/>
                For more details, read the Destiny Beta <a href="http://www.bungie.net/en/View/Bungie/DestinyBetaFAQ">FAQ</a>!<br/>
                <!--
                <c:reCAPTCHA componentButtonLabel="{!$Label.Verify}" 
                    pageToGoToAfterVerify="DestinyPreOrderCodeSupportForm?uil={!language}" 
                    sObjectTypeToCreateAfterVerify="Destiny_Support_Issue__c" />
                -->
            </div>
        </apex:define>
    </apex:composition>
</apex:page>