<!-- 
	* VF Page: ELITE_GamerPrizeCustomDetail
	* Description: 
	* Created By: Sudhir Kumar Jagetiya
	* Created Date: Sep 18, 2012
 -->
<apex:page StandardController="ELITE_GamerPrize__c" extensions="ELITE_CustomDetailController">
	<apex:detail relatedList="true" rendered="{!NOT(isPortalUser)}"/>
	<apex:outputPanel rendered="{!isPortalUser}">
		<table cellspacing="10">
			<tbody><tr><td>
			<span style="font-weight: bold; font-size: 12pt;">
			{!$Label.ELITE_Insufficient_Privileges}
			</span></td></tr>
			<tr><td>
				{!$Label.ELITE_Insufficient_Privileges_Msg}
				<br/><br/>
			</td></tr>
			</tbody>
		</table>
	</apex:outputPanel>
</apex:page>