<apex:page showHeader="false" sidebar="false" standardStyleSheets="false" controller="ATVICustomerPortalController">
    <apex:composition template="Atvi_site_template">
        <apex:define name="rightAfterHead">
        </apex:define>
        <apex:define name="begOfCSS">
        </apex:define>
        <apex:define name="endOfCSS">
        </apex:define>
        <apex:define name="begOfScripts">
        </apex:define>
        <apex:define name="endOfScripts">
            <c:ga />
        </apex:define>
        <apex:define name="endOfHead">
        </apex:define>
        <apex:define name="afterComScore">
        </apex:define>
        <apex:define name="bodyHtml">
            <div id="all">    
                <div id="header">
                    <div id="header-inner" class="clearfix">
                        <h1 id="logo">
                            <a href="{!$Page.Atvi_supporthome_unauthenticated}?clickedOn=" onclick="_gaq.push(['_trackEvent', 'Global Navigation', 'Navigation Selection', 'Support Home']);" title="Activision Support Home">Activision <span>{!$Label.ATVI_Support}</span></a>
                        </h1>
                        <div id="navigation">
                            <ul>
                                <li style="border:0px solid grey;">
                                    <apex:outputLink value="{!$Page.Atvi_my_support_games}" onclick="_gaq.push(['_trackEvent', 'Global Navigation', 'Navigation Selection', 'My Support']);"><span>{!$Label.Atvi_MySupport}</span></apex:outputLink>
                                </li>
                                <li>
                                    <apex:outputLink value="{!$Page.Atvi_warranty_returns}?clickedOn=" onclick="_gaq.push(['_trackEvent', 'Global Navigation', 'Navigation Selection', 'Warranty and Returns']);"><span>{!$Label.Atvi_WarrantyReturns}</span></apex:outputLink>
                                </li>                                
                                <li>
                                    <apex:outputLink value="{!$Page.Contact_Us}" onclick="_gaq.push(['_trackEvent', 'Global Navigation', 'Navigation Selection', 'Contact Us']);"><apex:OutputText ><span>{!$Label.Atvi_CONTACTUS}</span></apex:Outputtext></apex:outputLink>
                                </li>
                            </ul>
                        </div>
                        <div id="search">
                            <div id="search-box" style="width:300px;">
                                <form method="post" action="#">
                                    <c:Global_search />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="content">
                    <div id="content-inner">
                        <c:eManuals />
                    </div>
                </div>
            </div>
        </apex:define>
        <apex:define name="afterFooter">
        </apex:define>
        <apex:define name="afterBody">
        </apex:define>
    </apex:composition>
</apex:page>