<!-- 
* @Name             pkb_Home
* @author           Salesforce 
* @date             unknown
* @description      Knowledge base page for the PKB2 application built by Salesforce.
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* 
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    ---------------* 
* 
*---------------------------------------------------------------------------------------------------
-->
<apex:page standardStylesheets="false"
  showHeader="false"
  sidebar="false"  cache="false" >
<style>
.knowledgeBaseSearch .filterDropdown .handle{
    *position: static;
}
.knowledgeBaseSearch .filterDropdown .handle a{
    *position:static;
}
</style>

<!-- this empty page simply invokes the PKB site template and gives us a page to set the Site homepage to -->
<apex:composition template="Atvi_template_4_TEST">
  <apex:define name="body"></apex:define>
</apex:composition>
</apex:page>