<apex:page >
  <script type='text/javascript' src='https://c.la3-c1cs-was.salesforceliveagent.com/content/g/js/32.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la3-c1cs-was.salesforceliveagent.com/chat', '572U0000000Gma9', '00Dq0000000A6hm');
</script>

<a id="liveagent_button_online_573U0000000GmaY" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('573U0000000GmaY')">Online</a><div id="liveagent_button_offline_573U0000000GmaY" style="display: none;">Offline</div><script type="text/javascript">
if (!window._laq) { window._laq = []; }
window._laq.push(function(){liveagent.showWhenOnline('573U0000000GmaY', document.getElementById('liveagent_button_online_573U0000000GmaY'));
liveagent.showWhenOffline('573U0000000GmaY', document.getElementById('liveagent_button_offline_573U0000000GmaY'));
});</script>

</apex:page>