<!-- 
* @Name             Atvi_Welcome_username.component
* @author           Manas Jain
* @date             19-APR-12
* @description      Component to display the welcome message on the my support and warranty/returns pages.
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* Manas Jain                19-APR-12               Created
* A. Pal                    20-APR-12               Added logic to display welcome sub-text according to the gamer's elite status
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    --------------- 
* A. Pal(Deloitte Senior Consultant)                20-APR-2012                     Final Inspection before P2 go-live
*---------------------------------------------------------------------------------------------------
-->
<apex:component controller="Atvi_welcome_message_controller">
  <!-- Begin Default Content REMOVE THIS -->

            <h2 style="text-transform: uppercase;">
                 {!$Label.Atvi_WELCOME}&nbsp;<apex:outputText value="{!username}" />       
            </h2>
            
  <!-- End Default Content REMOVE THIS -->
</apex:component>