<!-- 
* @Name             Atvi_pkb_articleicons.component
* @author           sumankrishnasaha
* @date             09-FEB-12
* @description      Cloned from the pkb_articleicons component in the PKB2 application
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* sumankrishnasaha          09-FEB-12               Created
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    --------------- 
* K. Sankar(Deloitte Consultant)                    17-MAR-2012                     Final Inspection before P1 go-live
*---------------------------------------------------------------------------------------------------
-->
<apex:component allowDML="true">
    <apex:attribute name="showbacklinks" type="String" description="TODO: Describe me"/>
    <apex:attribute name="showfeedbackyesno" type="String" description="TODO: Describe me"/>
<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />

<apex:variable var="typeName" value="{!SUBSTITUTE(pkbCon.theKad.articleTypeName, pkbCon.kavExtension, '')}" />
<apex:variable var="articleURL" value="{!$Site.CurrentSiteUrl}articles{!pkbCon.selectedLanguageURL}{!typeName}/{!pkbCon.theKad.urlName}" />

<div id="article-list">
                <div id="article-title-frame" class="clearfix">
                    <h2 id="article-title">My Rank and Stats Have Been Unexpectedly Reset</h2>
                </div>
                
                <div class="article-meta clearfix">
                    <div class="article-solved-button">
                        <a href="#" class="solved"><span class="check">Check</span><span class="text">{!$Label.Atvi_SolveIssue}</span></a>
                        <span class="article-solved-text hidden">{!$Label.Atvi_IssueSolved}</span>
                    </div>
                    <div class="utility">
                        <a href="#" class="facebook">Facebook</a>
                        <a href="https://twitter.com/share" target="_new" title="{!$Label.PKB2_Tweet_This}" data-text="{!pkbCon.theKad.title}" data-url="{!articleURL}" data-count="none" class="twitter">Twitter</a>
                        <a href="mailto:?subject=Article%20Title:%20{!SUBSTITUTE(URLENCODE(pkbCon.theKad.title),'+','%20')}&body=Article%20URL:%20{!articleURL}" class="email">E-mail</a>
                        <a href="javascript:openPopupFocus('{!articleURL}/p?pubstatus=o', 'PrintableView', 800, 600, 'width=800,height=600,resizable=yes,toolbar=no,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" class="print">Print</a>
                    </div>
                </div>

                
                <div id="article-body" class="clearfix">
                    <p>1.What’s happening with Skylanders Universe? <br/>
We are taking many of your favorite Skylanders Universe mini games and moving them to the main Skylanders site for you to play! We’ll also be creating some fun new Skylanders mini games. So, check back often! This new mini game site will replace Skylanders Universe.<br/>

2.When is Skylanders Universe no longer available?<br/> 
New and old mini games are available now! Skylanders Universe will be unavailable starting April 29, 2013. At that time, you will no longer be able to access Skylanders Universe.<br/>
</p>
                </div>
                
                <div class="article-meta clearfix">
                    <div class="article-solved-button">
                        <a href="#" class="solved"><span class="check">Check</span><span class="text">{!$Label.Atvi_SolveIssue}</span></a>
                    </div>
                    <div class="utility">
                        <a href="#" class="facebook">Facebook</a>
                        <a href="https://twitter.com/share" target="_new" title="{!$Label.PKB2_Tweet_This}" data-text="{!pkbCon.theKad.title}" data-url="{!articleURL}" data-count="none" class="twitter">Twitter</a>
                        <a href="mailto:?subject=Article%20Title:%20{!SUBSTITUTE(URLENCODE(pkbCon.theKad.title),'+','%20')}&body=Article%20URL:%20{!articleURL}" class="email">E-mail</a>
                        <a href="javascript:openPopupFocus('{!articleURL}/p?pubstatus=o', 'PrintableView', 800, 600, 'width=800,height=600,resizable=yes,toolbar=no,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" class="print">Print</a>
                    </div>
                </div>
                
                <div class="article-survey clearfix">
                    What do you think? <a href="###">Take a quick survey</a> to help us improve this FAQ.
                </div>
                
           
</div>

</apex:component>