<apex:component layout="none" controller="Atvi_pkb_page_navigation">
	<apex:attribute name="lang" type="string" default="en_US" assignTo="{!pLang}" description="language of the articles" />
	<apex:attribute name="pageSize" type="integer" default="7" assignTo="{!pPageSize}" description="results per page" />
	<apex:attribute name="categories" type="string" default="All" assignTo="{!pCategories}" description="the category of kav to display" />
	<apex:attribute name="currentPageNumber" type="integer" default="1" assignTo="{!pCurrentPageNumber}" description="the current page the user is on" />
	
	<apex:repeat value="{!PageNumbers}" var="pageNum" rendered="{!pageNumbers.size > 1}">
		<li class="page-{!if(pageNum == TEXT(currentPageNumber), 'on', 'number')}">
			<apex:outputText rendered="{!pageNum == TEXT(currentPageNumber)}">
				{!pageNum}
			</apex:outputText>
			<apex:outputText rendered="{!NOT(pageNum == TEXT(currentPageNumber))}">
				<a href="javascript:void(0);" onclick="JS_GoToResultsPage({!pageNum});">{!pageNum}</a>
			</apex:outputText>
		</li>
	</apex:repeat>
	
</apex:component>