<!-- 
* @Name             Atvi_pkb_recent.component
* @author           sumankrishnasaha
* @date             10-FEB-12
* @description      Cloned from the pkb_recent component in the PKB2 application
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* sumankrishnasaha          10-FEB-12               Created  
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    --------------- 
* A. Pal(Deloitte Senior Consultant)				21-APR-2012						Final Inspection before P2 go-live
*---------------------------------------------------------------------------------------------------
-->
<apex:component allowDML="true">
	<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />
	
	<apex:variable var="category" value="{!IF(ISBLANK(pkbCon.selectedCategory), pkbCon.categoryGroup1+":"+pkbCon.rootCategory1, pkbCon.selectedCategory)}" />
	<apex:variable var="q" value="{!category}"/>

    <div id="popular">        
      <knowledge:articleList articleVar="a"
        language="{!pkbCon.selectedLanguage}"
        sortBy="lastUpdated" 
        pageSize="{!pkbCon.popularArticles}"
        categories="{!q}"
        pageNumber="1">
	        <c:Atvi_pkb_article pkbCon="{!pkbCon}" 
	          aid="{!a.id}"
	          title="{!a.title}"
	          summary="{!a.summary}"
	          urlName="{!a.urlName}"
	          articleTypeName="{!a.articleTypeName}"
	          articleTypeLabel="{!a.articleTypeLabel}"
	          lastModifiedDate="{!a.lastModifiedDate}"
	          firstPublishedDate="{!a.firstPublishedDate}"
	          lastPublishedDate="{!a.lastPublishedDate}" 
	          articleNumber="{!a.articleNumber}"     
	        />
      </knowledge:articleList>
    </div>
</apex:component>