<apex:component selfClosing="true" controller="eManuals">
    <script type="text/javascript">function tryCmsr(act, evt, evtdet){try{cmsrEvent(act, evt, evtdet);}catch(e){}}</script>
    <style type="text/css">
        .game-manual {width: 100%; margin: 20px 0 0 0;}
        .game-manual-block {display: block; margin: 0 0 5px 0;}
        .game-manual-block a {font: bold 12px/16px 'Open Sans Bold', Arial, Helvetica; color: #2abcff; text-decoration: none;}
        .game-manual-block a:hover {color: #2abcff; text-decoration: underline;}
        .game-manual-title {margin: 0 0 10px 0; font: bold 16px/24px 'Open Sans Bold', Arial, Helvetica; color: #555;}
        .game-manual-platform {font: normal 14px/18px 'Open Sans Light', Arial, Helvetica;}
        .game-manual-list {display: block; margin: 0 0 10px 0;}
        .game-manual-list li {display: block; float: left; margin: 0 10px 0 0;}
    </style>
    
    <h2 id="title-page" class="clearfix">{!$Label.Atvi_GameManuals}</h2>
    
    <div class="game-manual clearfix">
    <apex:repeat value="{!titleList}" var="title">
        <div class="game-manual-block"><div class="game-manual-title">{!title}</div>
        <apex:repeat value="{!titleName2docList[title]}" var="platform">
            <span class="game-manual-platform">{!platform}</span><br />
            <ul class="game-manual-list">
            <apex:repeat value="{!titleName2docList[title][platform]}" var="lang">
                <li><apex:outputLink rendered="{!OR(NOT(IsBlank(lang.Override_Link__c)), NOT(isNull(lang.Override_Link__c)), LEN(docId2attId[lang.Id]) > 0)}" value="{!IF(OR(NOT(IsBlank(lang.Override_Link__c)), NOT(IsNull(lang.Override_Link__c))), lang.Override_Link__c, URLFOR($Action.Attachment.Download, docId2attId[lang.Id]))}" onclick="tryCmsr('manual','download','{!JSINHTMLENCODE(title)}.{!JSINHTMLENCODE(lang.language__c)}.{!JSINHTMLENCODE(platform)}');"><apex:outputField value="{!lang.Language__c}" /></apex:outputLink><apex:outputField value="{!lang.Language__c}" rendered="{!AND(IsBlank(lang.Override_Link__c), IsNull(lang.Override_Link__c), NOT(LEN(docId2attId[lang.Id]) > 0))}" /></li>
            </apex:repeat>
            </ul>
            <br />
        </apex:repeat>
        </div>
    </apex:repeat>
    </div>

    <h2 id="title-page" class="clearfix">{!$Label.Atvi_SLA}</h2>
    
    <div class="game-manual clearfix">
    <apex:repeat value="{!eulaTitleList}" var="title">
        <div class="game-manual-block"><div class="game-manual-title">{!title}</div>
        <apex:repeat value="{!titleName2eula[title]}" var="platform">
            <span class="game-manual-platform">{!platform}</span><br />
            <ul class="game-manual-list">
            <apex:repeat value="{!titleName2eula[title][platform]}" var="lang">
                <li><apex:outputLink rendered="{!OR(NOT(IsBlank(lang.Override_Link__c)), NOT(isNull(lang.Override_Link__c)), LEN(docId2attId[lang.Id]) > 0)}" value="{!IF(OR(NOT(IsBlank(lang.Override_Link__c)), NOT(IsNull(lang.Override_Link__c))), lang.Override_Link__c, URLFOR($Action.Attachment.Download, docId2attId[lang.Id]))}" onclick="tryCmsr('eula','download','{!JSINHTMLENCODE(title)}.{!JSINHTMLENCODE(lang.Language__c)}');"><apex:outputField value="{!lang.Language__c}" /></apex:outputLink><apex:outputField value="{!lang.Language__c}" rendered="{!AND(IsBlank(lang.Override_Link__c), IsNull(lang.Override_Link__c), NOT(LEN(docId2attId[lang.Id]) > 0))}" /></li>
            </apex:repeat>
            </ul><br />
        </apex:repeat>
        </div>
    </apex:repeat>
    </div>
</apex:component>