<!-- 
* @Name             pkb_narrow
* @author           Salesforce 
* @date             unknown
* @description      Component for the PKB2 application built by Salesforce.
*
* Modification Log    :
* ------------------------------------------------------------------------------------------------
* Developer                 Date                    Description
* ---------------           -----------             ----------------------------------------------
* 
*---------------------------------------------------------------------------------------------------
* Review Log    :
*---------------------------------------------------------------------------------------------------
* Reviewer                                          Review Date                     Review Comments
* --------                                          ------------                    ---------------- 
* 
*---------------------------------------------------------------------------------------------------
-->
<apex:component allowDML="true">
<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />

   <apex:outputPanel layout="block" styleClass="narrowSearch" rendered="{!pkbCon.displayNarrow}" id="narrowSearch">
     <h2 class="section">{!$Label.PKB2_Narrow_Search}</h2>

     <apex:outputPanel layout="block" styleClass="searchDrill" rendered="{!pkbCon.displayCategory1}">
       <c:pkb_categoryselect catNum="1" 
         catGroup="{!pkbCon.categoryGroup1}" 
         catGroupLabel="{!pkbCon.categoryLabel1}" 
         rootCat="{!pkbCon.rootCategory1}" />
     </apex:outputPanel>

     <apex:outputPanel layout="block" styleClass="searchDrill" rendered="{!pkbCon.displayCategory2}">
       <c:pkb_categoryselect catNum="2" 
         catGroup="{!pkbCon.categoryGroup2}" 
         catGroupLabel="{!pkbCon.categoryLabel2}" 
         rootCat="{!pkbCon.rootCategory2}" />
     </apex:outputPanel>

     <apex:outputPanel layout="block" styleClass="searchDrill" rendered="{!pkbCon.displayCategory3}">
       <c:pkb_categoryselect catNum="3" 
         catGroup="{!pkbCon.categoryGroup3}" 
         catGroupLabel="{!pkbCon.categoryLabel3}" 
         rootCat="{!pkbCon.rootCategory3}" />
     </apex:outputPanel>

   </apex:outputPanel>

<script type="text/javascript">setCurrCategories();</script>
</apex:component>